<div class="row">
    <div class="col-12">
      
    <div class="filters border border-2 rounded-pill border border-secondary"><h4>Фильтры:</h4>
    <div class="my-select">По категории:
      <select [(ngModel)]="positionName" (change)="OnSelChanged(positionName)" 
      class="form-select" aria-label="example" >
      <option [selected]>нет фильтра</option>
        <option *ngFor="let category of categories;">{{category.name}} </option>
    </select>
    </div>
    <div class="form-check form-switch check">
          
             <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"  [(ngModel)]="isInStock"
             (change)="OnBoolChanged(isInStock)" >
            <label  class="form-check-label"> Есть в наличии</label>
    </div>
    </div>
    <div class="table-responsive">
    <div class="message"><p>Нажмите на Цена или Кол-во чтобы сделать сортировку по возрастанию или убыванию </p></div>
  <table class="table"> 
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Артикул</th>
        <th (click)="sortByPrice(true)">Цена</th>
        <th>Производитель</th>
        <th>Категория</th>
        <th>Вес</th>
        <th (click)="sortByInStock(true)">Кол-во на складе</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" >
        <td (click)="linkToItem(product.id)">{{product.id}}</td>
        <td (click)="linkToItem(product.id)">{{product.name}}</td>
        <td (click)="linkToItem(product.id)">{{product.article}}</td>
        <td (click)="linkToItem(product.id)">{{product.price}}</td>
        <td (click)="linkToItem(product.id)">{{product.manufacturer}}</td>
        <td (click)="linkToItem(product.id)">{{getCategoryNameById(product.categoryId)}}</td>
        <td (click)="linkToItem(product.id)">{{product.weight}}</td>
        <td [style.paddingBottom]="'0px'" [style.paddingTop]="'0px'"><div  [style.width]="'60px'" [style.height]="'100%'" [style.display]="'inline-block'"  (click)="linkToItem(product.id)" >{{product.inStock}}</div>
          <div [style.display]="'inline-block'">
            <button id="plus-btn"  type="button" class="btn btn-outline-success " (click)="inStockUpDown(true, product.id)">+</button>
            <button id="minus-btn"  type="button" class="btn btn-outline-danger" (click)="inStockUpDown(false, product.id)">-</button>
          </div>
        </td>
       
      
      </tr>
  
    </tbody>
  </table></div>
  <div style="width:200px">
      </div>
      <button  style="margin-top: 10px;"class="btn btn-primary float-end" (click)="linkToItem()">Добавить товар</button>
      </div>
  </div>