/* .form-select{
    width: 300px;
    margin-bottom: 9px;
    display: inline-block;
    
}
.form-check-input{
    
    margin-right: 5px;
}

.form-check-input{
    display: inline-block !important;
} */

.my-select{
display: inline-block;
margin-right: 50px;
}
.check{
    display: inline-block !important;
margin:auto !important;
}
.filters{
    width: 40%;
padding-left: 5% !important;
padding-bottom:5px; 
margin: auto;
}
.message{
    width: 100%;
    display: flex;
}
.message p{
   
    color: rgb(131, 131, 131);
    margin: auto;
    align-content: center;
   
}