<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/'">Guseva1034</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            [routerLink]="'/'" [routerLinkActive]="'red'"
            [routerLinkActiveOptions]="{exact:true}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
            [routerLink]="'/products'" [routerLinkActive]="'red'" 
            [routerLinkActiveOptions]="{exact:true}">Каталог товаров</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>